  
svg
{
  position: absolute;
  top: 55%;
  left: 54%;
  transform: translate(-50%, -50%);
  display: block;
}
.water {
  fill: #00248F;
}

.land {
  fill: #595959;
  stroke: #f2f2f2;
  stroke-width: 0.10px;
}



.focused {
  fill:#ccffff;
}

select {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 2px 2px 2px #ddd8dc;
  z-index: +1;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
.Earthglobe
{
  height: 65vh;
  margin-top: 15vh;
  position: relative;
}
#pointstable {
    
   }
   .Subscribe
{
  top:50%;
  left:50%;
  
}