<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FIFA World Cup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='../static/css/style.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='../static/css/russia.css') }}">
        <script src="{{url_for('static', filename='../static/js/script.js') }}"></script>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            }
            td, th, tr {
            border: 1px solid #dddddd;
            padding: 8px;
            width:800px;
            }
            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">FIFA</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/join">Join</a></li>
                        <li><a href="/predict">Predict</a></li>
                        <li><a href="/videos">Videos</a></li>
                        <li><a href="/score">Score</a></li>
                        <li><a href="/player_stats">Player Statistics</a></li>
                        <li><a href="/team_stats">Team Statistics</a></li>
                        <li class="active"><a href="/destination">Match Location</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="map_wrapper">
            <div id="map_canvas" class="mapping"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt20">
                </div>
            </div>
        </div>
        <table id="table1" border="1" style="text-align:center;" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>81,000</th>
            </tr>
            <tr>
                <td>Operator</td>
                <td>Operator	Luzhniki Olympic Sport Complex JSC</td>
            </tr>
            <tr>
                <td>Record attendance</td>
                <td>102,538</td>
            </tr>
            <tr>
                <td>Opened</td>
                <td>31 July 1956</td>
            </tr>
        </table>
        <table id="table2" border="1" align="center" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>64,468</th>
            </tr>
            <tr>
                <td>Operator</td>
                <td>FC Zenit Saint Petersburg</td>
            </tr>
            <tr>
                <td>Field size</td>
                <td>105 x 68 m</td>
            </tr>
            <tr>
                <td>Opened</td>
                <td>	2017</td>
            </tr>
        </table>
        <table id="table3" border="1" align="center" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>44,287</th>
            </tr>
            <tr>
                <td>Field size</td>
                <td>105 x 68 m</td>
            </tr>
            <tr>
                <td>Opened</td>
                <td>2013</td>
            </tr>
            <tr>
                <td>Construction cost</td>
                <td>	US $779 million</td>
            </tr>
        </table>
        <table id="table4" border="1" align="center" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>43,713 </th>
            </tr>
            <tr>
                <td>Field size</td>
                <td>105 by 68 m</td>
            </tr>
            <tr>
                <td>Surface</td>
                <td>Desso GrassMaster</td>
            </tr>
            <tr>
                <td>Built</td>
                <td>2018</td>
            </tr>
        </table>
        <table id="table5" border="1" align="center" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>42,873</th>
            </tr>
            <tr>
                <td>Field size</td>
                <td>105 x 68 m</td>
            </tr>
            <tr>
                <td>Surface</td>
                <td>GrassMaster</td>
            </tr>
            <tr>
                <td>Broke ground</td>
                <td>	May 2010</td>
            </tr>
        </table>
        <table id="table6" border="1" align="center" style="display:none">
            <tr>
                <th>Capacity</th>
                <th>41,970 </th>
            </tr>
            <tr>
                <td>Field size</td>
                <td>105 × 68 m</td>
            </tr>
            <tr>
                <td>Broke ground</td>
                <td>2014</td>
            </tr>
            <tr>
                <td>Construction cost</td>
                <td>	$320 million</td>
            </tr>
        </table>
    </body>
</html>