<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='css/register_style.css') }} />
        <script type="text/javascript">
		$(function() {
			$("[name=userOptions]").click(function(){
            $('.employeePlan').hide();
            $("#blk-"+$(this).val()).show('slow');
			});
		});
		</script>
	</head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">FindMyEmployer</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Log In</a></li>
                        <li class="active"><a href="/registerationForm">Register</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Group 15</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" style="text-align:center;">
            <h4 style="color:red;">{{error}}</h4>
        </div>
        <div class="container">
            <div class="row centered-form">
                <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 style="text-align:center;" class="panel-title">Register</h1>
                        </div>
                        <div class="panel-body">
                            <form action="/register" method="POST">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="firstName" id="firstName" class="form-control input-sm" placeholder="First Name" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="lastName" id="lastName" class="form-control input-sm" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="cpassword" id="cpassword" class="form-control input-sm" placeholder="Confirm Password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address1" id="address1" class="form-control input-sm" placeholder="Address Line 1" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address2" id="address2" class="form-control input-sm" placeholder="Address Line 2" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="zipcode" id="zipcode" class="form-control input-sm" placeholder="Zip Code" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="state" id="state" class="form-control input-sm" placeholder="State" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="country" id="country" class="form-control input-sm" placeholder="Country" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone" required>
                                </div>
								<div class="radio">
                                    <label><input type="radio" name="userOptions" value="employee" id="userEmployee" required>Employee</label>
								</div>
								<div class="radio">
                                    <label><input type="radio" name="userOptions" value="employer" id="userEmployer">Employer</label>
								</div>
								<div id="blk-employee" class="employeePlan" style="display:none;">                                
								<h4>
                                Choose Plan:
                                </h4>
								{% for item in range(noOfPlansEmployee) %}
                                <div class="radio">
                                    <label><input type="radio" value="plan{{item+1}}" name="planOptions" checked="checked">Plan{{item+1}}: No.of.Jobs:{{EmployeePlanCount[item]}} || Price:{{EmployeePlanPrice[item]}} || Can Message:{{EmployeeMessagePermission[item]}}</label>
                                </div>
								{% endfor %}
								</div>
								<div id="blk-employer" class="employeePlan" style="display:none;">
                                <h4>
                                Choose Plan:
                                </h4>
                                {% for item2 in range(noOfPlansEmployer) %}
                                <div class="radio">
                                    <label><input type="radio" value="plan{{item2+1}}" name="planOptions" checked="checked">Plan{{item2+1}}: No.of.Jobs:{{EmployerPlanCount[item2]}} || Price:{{EmployerPlanPrice[item2]}} || Can Message:{{EmployerMessagePermission[item2]}}</label>
                                </div>
								{% endfor %}
								</div>
                                <input type="submit" value="Register" class="btn btn-info btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>