<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>My Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }
            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/messageForm">Messages</a></li>
                        <li><a href="/account/profile/edit">Edit Profile</a></li>
                        <li><a href="/account/profile/changePassword">Change password</a></li>
                        <li><a href="/addJobs">Jobs</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
                    </ul>
                    <ul class="navbar-form navbar-right">
                        <form role="search" action="/searchProfile" method="POST">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="searchProf" id="searchProf" placeholder="Enter First Name to Search.." required>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>        
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="text-align:center; margin-top:5%;">
            <h3 style="color:red;">{{error}}</h3>
        </div>
        {% if (noOfProfilesFetched !=0 ) %}
        <div style="text-align:center;">
            <h2>Profiles Found</h2>
        </div>
        <div style="margin-top:2%;" class="container">
            <table>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
                {% for i in range(noOfProfilesFetched) %}
                <tr>
                    <td>{{fetchSearchedProfileData[i][1]}}</td>
                    <td>{{fetchSearchedProfileData[i][2]}}</td>
                    <td>{{fetchSearchedProfileData[i][3]}}</td>
                    <td>{{fetchSearchedProfileData[i][4]}} {{fetchSearchedProfileData[i][5]}} {{fetchSearchedProfileData[i][7]}} {{fetchSearchedProfileData[i][8]}} {{fetchSearchedProfileData[i][6]}} {{fetchSearchedProfileData[i][9]}}</td>
                    <td>{{fetchSearchedProfileData[i][10]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </body>
</html>