<!DOCTYPE html>
<html lang="en">
<head>
  <title>FIFA World Cup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://d3js.org/d3.v4.min.js"></script>
   <script src="https://d3js.org/topojson.v1.min.js"></script>
   <script src="https://d3js.org/queue.v1.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{url_for('static', filename='js/player_info.js') }}"></script>
<style>
svg
{  position: absolute;
  left: 21%;
}

</style>
</head>
<body>

<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index">FIFA</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li ><a href="/index">Home</a></li>
                        <li><a href="/join">Join</a></li>
                        <li><a href="/predict">Predict</a></li>
                        <li><a href="/videos">Videos</a></li>
                        <li><a href="/score">Score</a></li>
                        <li class="active"><a href="/player_stats">Player Statistics</a></li>
                        <li><a href="/team_stats">Team Statistics</a></li>
                        <li><a href="/destination">Match Location</a></li>
                    </ul>
                </div>
            </div>
        </nav>

<div style=" margin-top: 3%">
        <table id="player_table" style="width:100%" border="5">
        <tr>
            <td>Acceleration</td>
            <td>Age</td>
            <td>Aggression</td>
            <td>Agility</td>
            <td>Balance</td>
            <td>Ball Control</td>
            <td>Club</td>
            <td>Composure</td>
            <td>Crossing</td>
            <td>Curve</td>
            <td>Dribbling</td>
            <td>Finishing</td>
            <td>Heading Accuracy</td>
            <td>Jumping</td>
            <td>Long Passing</td>
            <td>Long Shots	</td>
            <td>Name</td>
            <td>Nationality</td>
            <td>Overall</td>
            <td>Penalties</td>
            <td>Photo</td>
            <td>Positioning</td>
            <td>Reactions</td>
            <td>Stamina</td>
            <td>Strength</td>
            <td>Value</td>
            <td>Vision</td>
            <td>Volley</td>
            <td>Wage</td>
            <td>index</td>
        </tr>
        </table>
</div>

<div style="text-align:center; margin-top:1%;">
<button  id = "Neymar" class="player">Neymar</button>
<button  id = "Cristiano Ronaldo" class="player">C. Ronaldo</button>
<button  id = "L. Messi" class="player">L. Messi</button>
<button  id = "E. Hazard" class="player">E. Hazard</button>
<button  id = "P. Pogba" class="player">P. Pogba</button>
<button  id = "H. Kane" class="player">H. Kane</button>
<button  id = "K. De Bruyne" class="player">K. De Bruyne</button>
<button  id = "E. Cavani" class="player">E. Cavani</button>
<button  id = "Sergio Ramos" class="player">S. Ramos</button>
<button  id = "B. Pavard" class="player">B. Pavard</button>
</div>
</body>
</html>
